---
import Layout from "../Layout.astro";
import { Image } from "astro:assets";
import me from "../me.jpeg";

const projects = [
  {
    name: "Portfolio",
    description:
      "The website you are looking at! Built with Astro.js v6 and TailwindCSS v4, and deployed to GitHub Pages.",
    github: "kostaskoukos/kostaskoukos.github.io",
    url: "https://kostaskoukos.github.io",
  },
  {
    name: "Sky's Adventure",
    description:
      "A 2D Platformer in a sky setting built with Unity and C# together with a friend of mine.",
    github: "kostaskoukos/Sky-s-Adventure",
    url: "https://konstantinos-koukos.itch.io/skysadventure",
  },
  {
    name: "Slash Bot",
    description:
      "A Discord bot built in Go and the discordgo library. It has basic chat commands like ping, memes, and playing songs in voice chat.",
    github: "kostaskoukos/slash-bot",
    url: null,
  },
  {
    name: "Tic Tac Toe CLI",
    description:
      "A CLI tic tac toe game made in C++. It has both a PvP and a PvC mode which calculates algorithmically the Computer's best move.",
    github: "kostaskoukos/tictactoe-cli",
    url: null,
  },
  {
    name: "rust-guess",
    description:
      "A simple CLI number guessing game in Rust that prompts players to use binary search to win.",
    github: "kostaskoukos/rust-guess",
    url: null,
  },
];
---

<Layout>
  <section id="home">
    <div class="flex items-center gap-2">
      <Image
        class="rounded-full object-cover aspect-square w-32 md:w-48 lg:w-64"
        layout="constrained"
        src={me}
        width="600"
        height="600"
        alt="Picture of me with a white shirt in a brown background"
      />
      <h1
        class="grow text-lg md:text-2xl lg:text-3xl text-foreground text-center font-black tracking-tight"
      >
        I am Kostas Koukos
      </h1>
    </div>
    <p class="max-w-[80ch] text-sm md:text-base p-5 text-foreground/85">
      I am a Computer Science student in Thessaloniki, Greece and I am obsessed
      with everything related to computers and Math since 2020! I have studied
      Web Development, CLI applications and theoretic CS & Math. I want to
      combine fundamental theoretic knowledge with practical, project experience
      to be as productive as possible!
    </p>
  </section>
  <section id="projects">
    <h2 class="text-xl md:text-2xl lg:text-3xl m-4 font-bold tracking-tight">
      Projects
    </h2>
    <ol>
      {
        projects.map((project) => (
          <li class="flex gap-3">
            <div class="min-w-1/10 relative">
              <div class="w-0.5 h-full bg-foreground/30 absolute left-1/2 -translate-x-1/2" />
              <div class="bg-foreground size-3 rounded-full absolute left-1/2 top-1/2 -translate-x-1/2" />
            </div>
            <div class="py-3">
              <span class="text-base md:text-lg font-medium">
                {project.name}
              </span>
              {project.url && (
                <a target="_blank" href={project.url}>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="inline"
                  >
                    <>
                      <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6" />
                      <path d="m21 3-9 9" />
                      <path d="M15 3h6v6" />
                    </>
                  </svg>
                </a>
              )}
              <a target="_blank" href={`https://github.com/${project.github}`}>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="inline"
                  viewBox="0 0 16 16"
                >
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                </svg>
              </a>
              <p class="max-w-[80ch] text-sm md:text-base text-foreground/85">
                {project.description}
              </p>
            </div>
          </li>
        ))
      }
    </ol>
  </section>
  <section id="contact">
    <h2 class="text-xl md:text-2xl lg:text-3xl m-4 font-bold tracking-tight">
      Contact
    </h2>
    <ol class="flex flex-col gap-2 md:gap-4 pl-4 md:pl-8">
      <li class="flex">
        <span class="w-25 text-muted-foreground text-xs md:text-sm">email:</span
        ><a
          class="text-sm md:text-base font-semibold bg-muted px-1 py-0.5 hover:bg-foreground active:bg-foreground hover:text-background active:text-background"
          href="mailto:kkonst2014@gmail.com"
          target="_blank">kkonst2014@gmail.com</a
        >
      </li>
      <li class="flex">
        <span class="w-25 text-muted-foreground text-xs md:text-sm"
          >github:</span
        ><a
          class="text-sm md:text-base font-semibold bg-muted px-1 py-0.5 hover:bg-foreground active:bg-foreground hover:text-background active:text-background"
          href="https://github.com/kostaskoukos"
          target="_blank">/kostaskoukos</a
        >
      </li>
      <li class="flex">
        <span class="w-25 text-muted-foreground text-xs md:text-sm"
          >instagram:</span
        ><a
          class="text-sm md:text-base font-semibold bg-muted px-1 py-0.5 hover:bg-foreground active:bg-foreground hover:text-background active:text-background"
          href="https://www.instagram.com/konstantinoskoukos_/"
          target="_blank">/konstantinoskoukos_</a
        >
      </li>
      <li class="flex">
        <span class="w-25 text-muted-foreground text-xs md:text-sm"
          >location:</span
        ><span
          class="text-sm md:text-base font-semibold px-1 py-0.5"
          class="px-2 py-0.5">Thessaloniki, GR (UTC+2)</span
        >
      </li>
    </ol>
  </section>
</Layout>
